<!-- <helloworld></helloworld>
<h1>{{title | uppercase}}</h1>
<h1>{{jsonValue.a}} {{jsonValue.b}}</h1>
<h1>{{Date | date:'fullDate'}}</h1>
<button (click) = "event()">Click Me</button>
<input type="text" placeholder="input" [ngModel]="title" > -->


<!-- <input type="text" placeholder="user" [(ngModel)]="user.id">
<input type="text" placeholder="user" [(ngModel)]="user.name">
<input type="text" placeholder="user" [(ngModel)]="user.role">
<ng-container *ngIf="showUser">
  <app-user [user]="user" (userEvent)="eventListener($event)"></app-user>
</ng-container>>

<button (click)="event()">API</button> -->

<!-- <ul *ngFor="let item of post">
    <li>{{item.userId}}</li>
    <li>{{item.title}}</li>
    <li>{{item.body}}</li>
</ul> -->

<!-- <table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let item of post | async">
    <td>{{item.ID}}</td>
    <td>{{item.title}}</td>
    <td>{{item.description}}</td>
  </tr>
  
</table> -->
<!-- <hr>
<a routerLink="/user">user</a>
<hr>
<a routerLink="/product">product</a>
<hr>
<a routerLink="/admin">admin</a>
<button (click)="eventClick()">Modify form</button>
<input type="text" [formControl]="tester" name="tester">
{{tester.value}} -->
<app-navigator> </app-navigator>
<!-- <app-product></app-product> -->
<router-outlet></router-outlet>



