<div class="user-form">
  <h2>Form Pengguna</h2>
  
  <!-- <form >
    <mat-form-field class="form-group">
      <mat-label>Nama Depan:</mat-label>
      <input matInput type="text" id="namadepan" name="namadepan" placeholder="Masukkan nama" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Nama Belakang:</mat-label>
      <input matInput type="text" id="namabelakang" name="namabelakang" placeholder="Masukkan nama" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Email:</mat-label>
      <input matInput type="email" id="email" name="email" placeholder="Masukkan email" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Password:</mat-label>
      <input matInput type="password" id="password" name="password" placeholder="Masukkan password" required>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Confirm Password:</mat-label>
      <input matInput type="password" id="confirmpassword" name="confirmpassword" placeholder="Masukkan Confirm Password" required>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="onSubmit()">Simpan</button>
  </form> -->

  <!-- <ul *ngFor="let item of todo">
    <li>{{item.ID}}</li>
    <li>{{item.title}}</li>
    <li>{{item.Description}}</li>
  </ul> -->
</div>