.navigator {
  display: flex;
  justify-content: space-around;
  background-color: darkslateblue;
  padding: 10px;
}

.navigator a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navigator a:hover {
  background-color: #559;
}